<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tip</key>
		<string>胸肌与肱三头肌</string>
		<key>data</key>
		<array>
			<string>墙壁俯卧撑</string>
			<string>上斜俯卧撑</string>
			<string>膝盖俯卧撑</string>
			<string>半俯卧撑</string>
			<string>标准俯卧撑</string>
			<string>窄距俯卧撑</string>
			<string>偏重俯卧撑</string>
			<string>单臂半俯卧撑</string>
			<string>杠杆俯卧撑</string>
			<string>单臂俯卧撑</string>
		</array>
	</dict>
	<dict>
		<key>tip</key>
		<string>腿臀肌肉</string>
		<key>data</key>
		<array>
			<string>墙壁俯卧撑</string>
			<string>上斜俯卧撑</string>
			<string>膝盖俯卧撑</string>
			<string>半俯卧撑</string>
			<string>标准俯卧撑</string>
			<string>窄距俯卧撑</string>
			<string>偏重俯卧撑</string>
			<string>单臂半俯卧撑</string>
			<string>杠杆俯卧撑</string>
			<string>单臂俯卧撑</string>
		</array>
	</dict>
	<dict>
		<key>tip</key>
		<string>背部和肱二头肌</string>
		<key>data</key>
		<array>
			<string>墙壁俯卧撑</string>
			<string>上斜俯卧撑</string>
			<string>膝盖俯卧撑</string>
			<string>半俯卧撑</string>
			<string>标准俯卧撑</string>
			<string>窄距俯卧撑</string>
			<string>偏重俯卧撑</string>
			<string>单臂半俯卧撑</string>
			<string>杠杆俯卧撑</string>
			<string>单臂俯卧撑</string>
		</array>
	</dict>
	<dict>
		<key>tip</key>
		<string>腹肌</string>
		<key>data</key>
		<array>
			<string>墙壁俯卧撑</string>
			<string>上斜俯卧撑</string>
			<string>膝盖俯卧撑</string>
			<string>半俯卧撑</string>
			<string>标准俯卧撑</string>
			<string>窄距俯卧撑</string>
			<string>偏重俯卧撑</string>
			<string>单臂半俯卧撑</string>
			<string>杠杆俯卧撑</string>
			<string>单臂俯卧撑</string>
		</array>
	</dict>
	<dict>
		<key>tip</key>
		<string>竖脊肌</string>
		<key>data</key>
		<array>
			<string>墙壁俯卧撑</string>
			<string>上斜俯卧撑</string>
			<string>膝盖俯卧撑</string>
			<string>半俯卧撑</string>
			<string>标准俯卧撑</string>
			<string>窄距俯卧撑</string>
			<string>偏重俯卧撑</string>
			<string>单臂半俯卧撑</string>
			<string>杠杆俯卧撑</string>
			<string>单臂俯卧撑</string>
		</array>
	</dict>
	<dict>
		<key>tip</key>
		<string>肩</string>
		<key>data</key>
		<array>
			<string>墙壁俯卧撑</string>
			<string>上斜俯卧撑</string>
			<string>膝盖俯卧撑</string>
			<string>半俯卧撑</string>
			<string>标准俯卧撑</string>
			<string>窄距俯卧撑</string>
			<string>偏重俯卧撑</string>
			<string>单臂半俯卧撑</string>
			<string>杠杆俯卧撑</string>
			<string>单臂俯卧撑</string>
		</array>
	</dict>
</array>
</plist>
